body {
  font-family: 'Roboto', sans-serif;
  color: #262636;
  font-weight: 600;
  font-size: large;
  display: flex;
  justify-content: space-around;
  background-color: lightslategray;
  background-image: url('https://images.unsplash.com/photo-1575868836100-e88e4ff63d93?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1500&ixlib=rb-1.2.1&q=80&w=1500');
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo {
  background-image: url('./logo.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  filter: drop-shadow(2px 4px 6px black);
}

.form {
  width: 300px;
  height: 400px;
  background: rgba(49, 49, 49, 0.5);
  margin: auto;
}

.formcontent {
  margin: auto;
  margin-top: 2%;
  width: 96%;
  height: 97%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.checkboxcontainer {
  display: flex;
  padding: 5px 0;
  align-items: center;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cc {
  height: 290px;
}

input[type='checkbox'] {
  margin-right: 17px;
}

/* /.checkbox */

input[type='checkbox'] {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 50%;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;
  border: 2px solid #34495e;
  background-color: #fff;
}

input[type='checkbox']:checked {
  border: 2px solid #34495e;
  background-color: #f9bf03;
}

input[type='checkbox']:active {
  border: 2px solid #34495e;
}

input[type='checkbox']:hover {
  transform: scale(1.2);
}

/* button  */
button[type='submit'] {
  color: #262636;
  border: 0;
  background-color: #fdca01;
  padding: 18px 0;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: larger;
  border-radius: 3px;
  transition: all 0.2s;
}

button[type='submit']:hover {
  color: #fdca01;
  border-radius: 3px;
  background-color: #262636;
  cursor: pointer;
}
