@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap");

body {
    --yellow: gold;
    --darkBackground: #212121;
    --darkContainerBackground: black;
    font-family: "Montserrat", sans-serif;
    --darkFontColor: var(--yellow);
    color: var(--darkFontColor);
    background-color: var(--darkBackground);
}

body {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app {
    max-width: 800px;
    background: var(--darkContainerBackground);
    border-radius: 4px;
}

.app form {
    border: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 1fr;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    grid-gap: 1rem;
    align-items: stretch;
}

.app :is(button, input, select, textarea) {
    margin: 1px;
    text-align: center;
    font-weight: 600;
    border: 0;
}

.app :is(button, input, select, textarea):focus {
    outline-color: var(--yellow);
}

.app input {
    width: 140px;
}

.app select {
    background: none;
    border: 0;
    padding: 2rem;
}

.app > form > :is(input[type="number"], select) {
    font-size: 1rem;
}

.app form > * {
    background: var(--darkBackground);
    color: var(--darkFontColor);

    margin: 0;
    font-size: 2rem;
    border-radius: 4px;
    -webkit-appearance: none;
    display: grid;
    align-content: center;
    padding: 0.5rem 1.7rem;
}

p {
    user-select: none;
}
